<html>
  <head>
    <title>Blog!</title>
		<script type="text/javascript" src="/js/jquery-1.4.min.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body style="font-family: sans-serif;">
		<div id="flickr"></div>
		<div id="twitter"></div>
    <h1>Sinatra</h1>    
    <%= yield %>
  </body>
</html>