<h1>Social</h1>
<p>http://twitter.com/coffeerings</p>
<p>http://coffeerings.posterous.com</p>
<p>http://www.facebook.com/coffeerings</p>
<p>http://www.flickr.com/photos/coffeerings</p>

<p>http://alltradeart.co.uk</p>

